.App {
  text-align: center;
}

table {
  border: solid 1px black;
  margin: 30px 20%;
  text-align: left;
  width: 60%
}

select {
  margin: 30px;
  font-size: 20px;
}

.addRemove {
  text-align: right;
  margin: 2px 10px;
}

tr, td {
  padding: 9px;
  text-align: center;
  
}