body {
  background-image: url('./images/greentexture.jpg');
  background-size: cover;
  text-align: center;
}

.App {
  text-align: center;
}

h1 {
  background-color: rgba(0, 0, 0, 0.5);
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  padding: 20px;
  border: white solid 1px;
  color: white;
  font-family: 'Lucida Sans';
  text-align: center;
}

button {
  display: inline-block;
  border: none;
  padding: 5px 10px;
  -webkit-border-radius: 15px; 
  -moz-border-radius: 15px; 
  border-radius: 15px;
  background-color: rgb(147,198,147);;
}

table {
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  
}

.tableBasket {
  border: solid 5px white;
  text-align: center;
  color: white;
  width: 60%;
  background-color: rgba(0, 0, 0, 0.5);
  float: center;
  margin-top: 30px;
  -webkit-border-radius: 15px; 
  -moz-border-radius: 15px; 
  border-radius: 15px;
  border-radius: 15px;
}

.tableCheckout {
  margin-top: 10px;
  border: solid 2px white;
  text-align: center;
  color: white;
  width: 70%;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-border-radius: 15px; 
  -moz-border-radius: 15px; 
  border-radius: 15px;
  border-radius: 15px;
}

tr, td {
  padding: 9px 5px;
}

input {
  display: inline-block;
  border: none;
  padding: 9px 10px;
  -webkit-border-radius: 15px; 
  -moz-border-radius: 15px; 
  border-radius: 15px;
  background-color: rgb(147,198,147);
  font-size: 15px
}

select {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  margin-top: 20px;
  font-size: 20px;
  padding: 10px 50px;
  -webkit-border-radius: 15px; 
  -moz-border-radius: 15px; 
  border-radius: 15px;
  color: black;
}

optgroup {
  font-family: arial;
}

.addRemove {
  text-align: right;
  margin: 2px 10px;
}

.quantityDisplay {
  width: 150px;
}

.quantityNum {
  padding: 0 15px;
}

.headerRow>th {
  border-bottom: 1px solid white;
}

.totalRow>td {
  border-top: 1px solid white;
  padding-top: 15px;
  font-size: 20px
}

